In [8]:
import yfinance as yf
tickers = ["AAPL"]
a = yf.download(tickers, start="2010-01-01", end="2021-01-01")
a

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2010-01-04    6.440330    6.455076    6.391278    6.422876  493729600
2010-01-05    6.451466    6.487879    6.417460    6.458087  601904800
2010-01-06    6.348847    6.477046    6.342226    6.451466  552160000
2010-01-07    6.337110    6.379843    6.291067    6.372319  477131200
2010-01-08    6.379241    6.379844    6.291369    6.328684  447610800
...                ...         ...         ...         ...        ...
2020-12-24  128.905777  130.361186  128.055982  128.270875   54930100
2020-12-28  133.516205  134.151107  130.410033  130.878899  124486200
2020-12-29  131.738449  135.567429  131.220756  134.844620  121047300
2020-12-30  130.615189  132.832486  130.302611  132.432002   96452100
2020-12-31  129.609085  131.611489  128.661606  130.966810   99116600

[2769 rows x 5 columns]

In [9]:
a = a["Close"]
a

Ticker            AAPL
Date
2010-01-04    6.440330
2010-01-05    6.451466
2010-01-06    6.348847
2010-01-07    6.337110
2010-01-08    6.379241
...                ...
2020-12-24  128.905777
2020-12-28  133.516205
2020-12-29  131.738449
2020-12-30  130.615189
2020-12-31  129.609085

[2769 rows x 1 columns]

In [16]:
a["change"] = a.a.pct_change(periods=1).mul(100)

/tmp/ipykernel_12044/784975144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["change"] = a.a.pct_change(periods=1).mul(100)

In [17]:
a.rename(columns={"a": "data"}, inplace=True)
a

/tmp/ipykernel_12044/184466578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.rename(columns={"a": "data"}, inplace=True)

Ticker            data    change
Date
2010-01-04    6.440330       NaN
2010-01-05    6.451466  0.172911
2010-01-06    6.348847 -1.590633
2010-01-07    6.337110 -0.184874
2010-01-08    6.379241  0.664844
...                ...       ...
2020-12-24  128.905777  0.771240
2020-12-28  133.516205  3.576587
2020-12-29  131.738449 -1.331491
2020-12-30  130.615189 -0.852644
2020-12-31  129.609085 -0.770281

[2769 rows x 2 columns]

In [22]:
a.data.resample("BM").last().pct_change(periods=1).mul(100)

/tmp/ipykernel_12044/780187961.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  a.data.resample("BM").last().pct_change(periods=1).mul(100)

Date
2010-01-29          NaN
2010-02-26     6.539662
2010-03-31    14.847008
2010-04-30    11.102139
2010-05-31    -1.612491
                ...
2020-08-31    21.656937
2020-09-30   -10.252624
2020-10-30    -6.001224
2020-11-30     9.549346
2020-12-31    11.457357
Freq: BME, Name: data, Length: 132, dtype: float64